<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ventanilla.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <connectionStrings>
    <add name="Entidades" connectionString="metadata=res://*/Entity.appca.csdl|res://*/Entity.appca.ssdl|res://*/Entity.appca.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ORACLE;PASSWORD=miclave;PERSIST SECURITY INFO=True;USER ID=APPCA&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Ventanilla.My.MySettings>
      <setting name="Miconexion" serializeAs="String">
        <value />
      </setting>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="IDPerfil" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NumeroVentanilla" serializeAs="String">
        <value />
      </setting>
      <setting name="IdVentanilla" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConexionEntity" serializeAs="String">
        <value />
      </setting>
    </Ventanilla.My.MySettings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client"></remove>
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.dataaccess.client>
    <settings>
      <!--<add name="DllPath" value="c\app\Equipo\product\11.2.0\client_1\BIN" />-->
      <add name="FetchSize" value="131072" />
      <add name="PromotableTransaction" value="promotable" />
      <add name="StatementCacheSize" value="10" />
      <add name="TraceFileName" value="c:\odpnet2.trc" />
      <add name="TraceLevel" value="63" />
      <add name="TraceOption" value="1" />
    </settings>
  </oracle.dataaccess.client>
</configuration>